.grigio{
    color: grey;
}
.piccolo{
    font-size:xx-small;
}
#foto1{
    color: burlywood;
    /* da regolare */
    background-image: url("../immagini/monitor.jpg");
    
}
#foto2{
    color: burlywood;
    /* da regolare */
    background-image: url("../immagini/graph.jpg");
  
}
header{
    
    background-image: url("../immagini/pattern.png");
    background-size: contain;
    background-color: cyan;
}
/* tolto bordo */
table {
    border-collapse: collapse;
    width: 100%;
}
  /* colorato */
.dispari {
    background-color: Lightgreen;

    }
    /* allargato */
td {
    width: 500px;
    }
#booly{
    width: 25%;
    height: 25%;